.fp{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.fpItem{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 0px;
}
.fpImg{
    width: 100%;
    height: 200px;
}
.fpName{
    font-weight: bold;
}
.fpCity{
    font-weight:lighter;
}
.fpPrice{
    font-weight:500;
}
.fpRating{
    margin-bottom: 5px;
    margin-left: 5px;
}
span{
    margin-left: 5px;
}
.fpRating>button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .fpRating>span{
    font-size: 14px;
  }