.featured{
    width: 100%;
    margin:0 10%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.featuredImg{
    width: 100%;
}.featuredItem{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 250px;
}
.featuredTitles{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 20px;
}