.header {
    background-color: #003580;
    color: white;
    display: flex;
    position: relative;
}

.headerContainer {
    width: 100%;
    height: 50vh;
    margin-left: 10%;
    margin-right: 10%;
}
.headerContainer.listMode{
    height: 15vh;
}
.headerList {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.listItems {
    font-size: large;
    padding: 10px;
}

.listItems.active {
    border: 1px solid white;
    border-radius: 25px;
}

.headerTitle {
    font-size: 250%;
}

.headerDesc {
    margin-bottom: 30px;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.headerSearch {
    height: 30px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border: 3px solid #5A5A5A ;
    border-radius: 5px;
    width: 80%;
    position: absolute;
    bottom: -25px;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerIcon {
   color:gray;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: gray;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 55px;
    box-shadow: 0 0 5px;
    z-index: 2;
}

.options {
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px;
    z-index: 2;
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}
.optionCounterButton:disabled{
    cursor:not-allowed;
}